RewriteEngine On
RewriteBase /prueba2/

# Redireccionar todas las solicitudes que no sean para archivos existentes a index.php?page={solicitud}
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
